body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
	font-size: 30px;
	font-weight:lighter;
	margin-top: 0px;
	margin-bottom: 10px;
}

input[type=text], select {
	width: 100%;
	padding: 5px 5px;
	margin: 2px 0px;
	display: inline-block;
	background-color: #fff;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 370px;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
}

input[type=checkbox] {
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}


tr {
	height: 35px;
}

td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.navigation {
	background-image: linear-gradient(to bottom,#555 0,#222 100%);
	border-radius: 5px;
	background-color: #f2f2f2;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navigation ul li {
	float: left;
}

.navigation ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

.navigation ul li a:hover {
	background-color: #222;
	border-radius: 5px;
}

.content  {
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.config_view {
	font-family: monospace;
	white-space: pre-wrap;
	padding: 20px 20px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash {
	background: #cee5F5;
	padding: 0.5em;
	border: 1px solid #aacbe2;
	border-radius: 5px;
    display: block;
	animation: 2s ease-out 0s 1 popup;
}

.error {
	background: #f0d6d6;
	padding-left: 0.5em;
	padding-right: 0.5em;
    border: 1px solid #daa4a4;
	border-radius: 4px;
    display: block;
	animation: 2s ease-out 0s 1 popup;
}