{% extends "layout.html" %}

{% macro render_field(field) %}
  {% if field.label.field_id != 'csrf_token' %}
  	<tr>
	  <td class="label_col">{{ field.label }}</td>
	  <td class="input_col">{{ field(title=field.description, **kwargs)|safe }}</td>
	  {% if field.errors %}
	  	<td>
		    {% for error in field.errors %}
		      <p class=error>{{ error }}</p>
		    {% endfor %}
	    </td>
	  {% endif %}
	</tr>
  {% else %}
  	{{ field }}
  {% endif %}
{% endmacro %}


{% block content %}
	<h1>Create Darkice Config</h1>
	<form action="" method="post" name="config">
			<table>
				{% for field in form %}
					{{ render_field(field) }}
				{% endfor %}
			</table>
			<input type="submit" value="Write config">
	</form>
{% endblock %}
